body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}
.title { font-size: 60px }
.content {
    padding: 50px;
    position: relative;
}
#content { visibility: hidden }
#bg {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}
.bgwidth { width: 100% }
.bgheight { height: 100% }
p { margin-top: 0 }
.float-left { float: left }
a {
    text-decoration: none;
    color: #FFFFFF;
}
/*Animate CSS */
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}
@-webkit-keyframes fadeIn { 
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@-moz-keyframes fadeIn { 
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@-o-keyframes fadeIn { 
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes fadeIn { 
    0% { opacity: 0 }
    100% { opacity: 1 }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* End Animate CSS */